.board {
  width: 600px;
  height: 600px;
  border: 1px solid #ccc;
  margin: 40px;
  /* overflow:hidden; */
}


/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

